/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)

## Typography

### Body Copy

- Font size: 15px

*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.heading {
    text-align: center;
    padding-top: 80px;
}

.thin-heading {
    font-weight: 200;
}

.first-paragraph {
    text-align: center;
    padding-top: 30px;
    color: hsl(229, 6%, 66%);
    line-height: 1.5;
}

.second-paragraph {
    
    
}

p {
    color: hsl(229, 6%, 66%);
}

.card {
    padding: 1.25rem;
    flex-direction: row;
}

img {
    float: right;
    
}